<div class="container max-w-md md:max-w-3xl mx-auto mt-3">
    <app-header></app-header>
    <div class="info w-[100%] row mt-[140px]  ">
        <div class="info-text col order-1 ">
            <h1 class="">Hi, I am {{userList.name}},</h1>
            <h1>{{userList.position}}</h1>
            <p class=" w-[410px] mt-[29px] ">{{userList.about}}</p>
            <button class="rounded-bl-sm w-[168px] h-[37px] bg-[#FF6464] mt-[25px] text-white ">Download Resume</button>
        </div>
        <div class="info-img col ml-[40px] order:0 sm:order-1  ">
            <img class="rounded-full w-[200px] " src="https://scontent-hkt1-1.xx.fbcdn.net/v/t39.30808-6/283481031_1203819817099160_6498401897071721711_n.jpg?stp=dst-jpg_p600x600&_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IwsjeVKXp3MAX-RXuhG&_nc_ht=scontent-hkt1-1.xx&oh=00_AT_4KI9y4qzD-rDZhuBtp6XqpBVYmpFMQ-LGqLvZoAWbRQ&oe=62A36966 "
                alt=" ">
        </div>
    </div>
    <section class="Recent-posts mt-[78px] bg-[#EDF7FA] h-[300px] ">
        <h1 class=" ">
            Recent posts
        </h1>
        <div class="Recent-posts-all ">
            <div class="Recent-posts-let w-[330px] h-[240px] bg-white mt-3 ml-1 ">
                <h1>Making a design system from scratch</h1>
                <p>12 Feb 2020 | Design, Pattern</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="Recent-posts-right w-[330px] h-[240px] bg-white mt-3 mr-1 ">
                <h1>Creating pixel perfect icons in Figma</h1>
                <p><span>12 Feb 2020</span> <span>|</span> <span>Figma, Icon Design</span></p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </section>
    <section class="Featured-works mt-4 ">
        <h1>Featured works</h1>
        <div class="Featured-all mt-[25px] ">
            <div class="Featured-let ">
                <img class="w-[200px] h-[150px] rounded-lg " src="https://scontent-hkt1-1.xx.fbcdn.net/v/t39.30808-6/283481031_1203819817099160_6498401897071721711_n.jpg?stp=dst-jpg_p600x600&_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IwsjeVKXp3MAX-RXuhG&_nc_ht=scontent-hkt1-1.xx&oh=00_AT_4KI9y4qzD-rDZhuBtp6XqpBVYmpFMQ-LGqLvZoAWbRQ&oe=62A36966 "
                    alt=" ">
            </div>
            <div class="Featured-right ">
                <h1>Designing Dashboards</h1>
                <div class="mt-3 "><span class="year mr-3 ">2020</span> <span> Illustration</span></div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr class="mt-2 ">
        <div class="Featured-all mt-[25px] ">
            <div class="Featured-let ">
                <img class="w-[200px] h-[150px] rounded-lg " src="https://scontent-hkt1-1.xx.fbcdn.net/v/t39.30808-6/283481031_1203819817099160_6498401897071721711_n.jpg?stp=dst-jpg_p600x600&_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IwsjeVKXp3MAX-RXuhG&_nc_ht=scontent-hkt1-1.xx&oh=00_AT_4KI9y4qzD-rDZhuBtp6XqpBVYmpFMQ-LGqLvZoAWbRQ&oe=62A36966 "
                    alt=" ">
            </div>
            <div class="Featured-right ">
                <h1>Vibrant Portraits of 2020</h1>
                <div class="mt-3 "><span class="year mr-3 ">2018</span> <span> Illustration</span></div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr class="mt-4 ">
        <div class="Featured-all mt-[25px] ">
            <div class="Featured-let ">
                <img class="w-[200px] h-[150px] rounded-lg " src="https://scontent-hkt1-1.xx.fbcdn.net/v/t39.30808-6/283481031_1203819817099160_6498401897071721711_n.jpg?stp=dst-jpg_p600x600&_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IwsjeVKXp3MAX-RXuhG&_nc_ht=scontent-hkt1-1.xx&oh=00_AT_4KI9y4qzD-rDZhuBtp6XqpBVYmpFMQ-LGqLvZoAWbRQ&oe=62A36966 "
                    alt=" ">
            </div>
            <div class="Featured-right ">
                <h1>36 Days of Malayalam type</h1>
                <div class="mt-2 "><span class="year mr-3 ">2020</span> <span> Typography</span></div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>

    </section>
    <hr class="mt-4 ">
    <section class="mxh ">
        <div class=" mxh-1 text-center mt-[100px] ">
            <i class="fa-brands fa-facebook fa-2x "></i>
            <i class="fa-brands fa-instagram-square fa-2x "></i>
            <i class="fa-brands fa-twitter fa-2x "></i>
            <i class="fa-brands fa-linkedin fa-2x "></i>
        </div>
        <p class="text-center mt-4 ">Copyright ©2020 All rights reserved </p>
    </section>
</div>