.works h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.word-text h2 {
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.works-one {
    display: grid;
    grid-template-columns: 192px auto;
    grid-gap: 25px;
}

.menu {
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.mxh-1 i {
    padding: 20px;
}

.mxh {
    font-family: 'Heebo', sans-serif;
    font-weight: regular;
    font-size: 11px;
}